
.search{
  width: min(1100px, 100% - 2rem);
margin-inline: auto;

}

.country {
padding-top: 2rem;

  /* padding: ; */
  /* width: min(1100px, 100% - 2rem);
margin:1rem auto; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 4rem;
}

.card {
  max-width: 300px;
  border: solid 1px;
  cursor: pointer;
}

.card img {
  object-fit: contain;
}
