

.country {
padding-top: 2rem;

  /* padding: ; */
  /* width: min(1100px, 100% - 2rem);
margin:1rem auto; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 4rem;
}



.texts{
  margin-left: 1rem;
}

.texts p{
  color: rgb(86, 84, 84)
}

.texts span{
color: black;
}

.texts h2{
  font-size: 1rem;
}

.card {

  box-shadow:0px 1px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  max-width: 300px;
  cursor: pointer;
  border-radius: 5px;
  
}

.card img {
  border-radius:5px 5px 0px 0px ;
  /* object-fit:contain; */
  height: 150px;
  /* width:200px; */
}



.search{
  width: min(1100px, 100% - 2rem);
margin-inline: auto;

}

.icon{
  transform: translate(25px,5px);
  /* position:absolute */
  color: rgb(111, 118, 118);
}


.searchbox{
  border: none;
  border-radius: 5px;

  box-shadow:0px 1px 6px rgba(0, 0, 0, 0.1);
  margin-left: -1rem;
  width: 350px;
  margin-top: 2rem;
  padding: 1rem 3.5rem;
  /* position: relative; */
}

.searchFilter{
  display:  flex;
  justify-content: space-between;
  align-items: flex-end;

}

